<!-- <app-booking [fromParent]:meeting></app-booking> -->
<div *ngIf="!redirectBooking" class="container">
  <h2>Meeting Details</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Room ID</th>
        <th>Name</th>
        <th>Purpose</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Meeting Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of meetingDetails; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ meeting.room_id }}</td>
        <td>{{ meeting.name }}</td>
        <td>{{ meeting.purpose }}</td>
        <td>{{ meeting.start_time }}</td>
        <td>{{ meeting.end_time }}</td>
        <td>{{ meeting.meeting_date }}</td>
        <td formaction="app-booking">
          <button class="btn btn-danger" (click)="deletedetails(meeting.meeting_id)">Delete</button>

          <button class="btn btn-primary" (click)="editMeeting(meeting)">Edit</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<app-booking *ngIf="redirectBooking" [bookingFormDetails]="bookingData"></app-booking>



