<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Register Here</h2>
              <form [formGroup]="signupform" (ngSubmit)="submitForm()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg" class="required">
                    Email</label>
                  <input type="email" class="form-control form-control-lg" formControlName="email"
                    placeholder="Enter your Email" id="email">

                  <span class="text-danger"
                    *ngIf="(signupformcontrol['email'].touched||submitted)&& signupformcontrol['email'].invalid">
                    <div *ngIf="signupformcontrol['email'].errors?.['required']">Email is required.</div>
                    <div *ngIf="signupformcontrol['email'].errors?.['email.valid']">Email must be a valid email address.
                    </div>
                  </span>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg" class="required">Password</label>
                  <input type="password" class="form-control form-control-lg" formControlName="password" id="password"
                    placeholder="Enter your Password">
                  <span class="text-danger" *ngIf="(signupformcontrol['password'].touched || submitted) &&
                signupformcontrol['password'].invalid">
                    <div *ngIf="signupformcontrol['password'].errors?.['required']">Password is required.</div>
                    <div *ngIf="signupformcontrol['password'].errors?.['minlength']">Password must be at least 8
                      characters long.</div>
                  </span>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg" class="required">Confirm Password</label>
                  <input type="cpassword" class="form-control form-control-lg" formControlName="cpassword"
                    id="cpassword" placeholder="Enter your Confirm Password">
                  <span class="text-danger" *ngIf="(signupformcontrol['cpassword'].touched || submitted) &&
              signupformcontrol['cpassword'].invalid">
                    <div *ngIf="signupformcontrol['cpassword'].errors?.['required']">Password is required.</div>
                    <div *ngIf="signupformcontrol['cpassword'].errors?.['minlength']">Password must be at least 8
                      characters long.</div>
                    <div *ngIf="signupformcontrol['cpassword'].errors?.['MustMatch']">Confirm
                      password didn't match

                    </div>
                  </span>
                </div>
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="signupform.invalid">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a class="fw-bold text-body"
                    routerLink="/login"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>