<header class="header">
  <a href="#" class="logo">Meeting Schedular</a>
  <nav class="nav-items">
    <a href="#">Home</a>
    <a href="login">Login</a>
    <a href="signup">SignUp</a>
  </nav>
</header>
<main>
  <div class="intro">
    <h1>Book your Meeting Rooms</h1>
    <p>The Best Way To Success</p>
    <a href="login">
      <button type="button">Get Started</button>

    </a>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Achievements</p>
      <p class="work-text">Our company has archived a lot since 2012 in Business Meetings and we received Golden awards
        in Business.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Customer Support</p>
      <p class="work-text">Greet the customer in a warm, personalized way.
        Prioritize employee wellness
        See customer complaints as opportunities.
      </p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Objective</p>
      <p class="work-text"> The main objective is to give the best quality and best price for the customer.</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>About Us</h2>
      <p>Make a home for your business with private office space in Brussels.
        Our serviced offices have everything taken care of - from the furniture to the
        high-speed WiFi - and with flexible terms allowing you to rent office space from an hour to years,
        you can focus on driving your business forward..</p>
    </div>
    <img src="https://assets.iwgplc.com/image/upload/Regus/Website/homepage-product-meeting-rooms1.jpg" alt="me">
  </div>
</main>
<footer class="footer">
  <div class="copy">&copy; 2022 Developer</div>
  <div class="bottom-links">
    <div class="links">
      <span>More Info</span>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="links">
      <span>Social Links</span>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
